.product-card .card-link {
  display: block;
}
.product-card .card-link .card-image-wrapper {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
}
.product-card .card-link .card-image-wrapper .card-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/4;
  transition: transform 0.5s ease-in-out;
}
.card-link:hover .product-card .card-link .card-image-wrapper .card-image {
  transform: scale(1.05);
}
.product-card .card-link .card-info {
  margin-top: var(--size-base);
}
.product-card .card-link .card-info .product-name {
  font-size: var(--size-sm);
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: var(--font-DMSans);
}
.product-card .card-link .card-info .product-price {
  font-size: var(--size-sm);
  margin-top: var(--size-xs);
  color: var(--clr-tone400);
  font-family: var(--font-DMSans);
}