/* Main section start */
.main-section {
  position: relative;
  width: 100%;
}

/* Main section end */
/* xs */
@media (max-width: 475px) {
  :root {
    font-size: 1vw;
  }
}
/* sm */
@media (min-width: 640px) {
  :root {
    font-size: 1vw;
  }
}
/* md */
@media (max-width: 768px) {
  :root {
    font-size: 1.2vw;
  }
}
/* lg */
@media (max-width: 1024px) {
  :root {
    font-size: 1.2vw;
  }
}
/* xl */
/* @media (min-width: 1280px) {} */
/* 2xl */
/* @media (min-width: 1536px) {} */