.menu-btn {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.menu-btn .menu-line {
  width: 100%;
  height: 4px;
  background-color: var(--clr-dark);
}

.btn.light-back {
  --btn-light: var(--clr-light);
  --btn-dark: var(--clr-dark);
}

.btn.dark-back {
  --btn-light: var(--clr-dark);
  --btn-dark: var(--clr-light);
}

.btn.theme-accent {
  --btn-light: var(--clr-accent);
  --btn-dark: var(--clr-dark);
}

.btn {
  overflow: hidden;
  position: relative;
  color: var(--btn-dark);
  background-color: var(--btn-light);
  border: 2px solid var(--btn-dark);
  padding: 0.6rem 0.6rem 0.6rem 1.4rem;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: var(--btn-light);
}
.btn .btn-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-dark);
  border-radius: 50px;
}
.btn .arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--btn-dark);
  color: var(--btn-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 2;
}
.btn:hover .arrow {
  background-color: var(--btn-light);
  color: var(--btn-dark);
}

.brand-logo {
  width: 6vw;
}
.brand-logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .brand-logo img {
    width: 10vw;
  }
}